<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alphabetproject">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlphabetProject"
        tools:targetApi="31">
        <activity
            android:name=".CustomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PlayGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>